@import "tailwindcss";
@config "../tailwind.config.ts";


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --terminal-background: #f1f0ebc4;
  --terminal-text: black;
}

.dark {
  --tw-bg-opacity: 1;
  --background: #000000;
  --foreground: #ededed;
  --terminal-background: #222222;
  --terminal-text: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .markdown > * {
  all: revert;
  white-space: pre-wrap;
} */

.terminal {
  background: var(--terminal-background);
  color: var(--terminal-text);
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
